@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.read {
  background-color: #0cce6b;
}
.notRead {
  background-color: #f39237;
}
.closeModal {
  display: none;
}
